@import url("./reset.scss");
@import url("./variables/global.scss");
@import url("./themes/light.scss");
@import url("./themes/dark.scss");

.app {
  min-height: 100vh;
  color: var(--color-primary);
  font: var(--font-l);
  background: var(--bg-color);
}

.content {
  display: flex;
  width: 100%;
}

.wrapper {
  flex-grow: 1;
  padding: 20px;
}