.btn {
  cursor: pointer;

  &__clear {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__outline {
    padding: 10px 16px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 4px;
    background: none;
  }
}