.app-light {
  --bg-color: #b5b1b1;
  --inverted-bg-color: #1b0f33;
  --color-primary: #051b44;
  --color-secondary: #290606;
  --inverted-color-primary: #c7c7c7;
  --inverted-color-secondary: #c17575;
}