.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  padding: 10px;
  column-gap: 20px;
  background-color: var(--inverted-bg-color);
}